<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"><!--11월 23일-->
    <!--<title>Plant Disease Detector</title>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet" />-->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <!--<div class="heading">
        PLANT DISEASE DETECTOR
    </div>-->
        <!--<div class="text">
        <p><b>Share a picture of the plant and get immediate results!</b></p>
    </div>-->
        <!-- </div> -->
        <!--<div class="inner">11월23일-->
        <form id="analysis-form" enctype="multipart/form-data">
            <div class="imgbox">
                <!--<img src="../static/img.jpg" class="img" id="selected_image">-->
                <div class="middle">
                    <!--<div class="add"><span>SELECT IMAGE</span></div>-->
                    <input name="Select File" id="imagefile" type="file" />
                </div>
            </div>
            <button id="analyze-button" class="analyze-button">
                <span>Analyze</span>
            </button>
        </form>
        <div id="result"><b>Result</b></div>
        <script>
            function func1(){
            var inputre = document.getElementById("#result").value;

            if (inputre == "Strawberry___healthy")
            {
            alert("Success!");
            }
            else
            alert("Failed!");

            }
        </script>

        <input style="cursor:pointer;" class="type2" type="button" value="의미 보기" onclick="func1();" />
    </div>
    <!--</div>11월23일-->

    <script src="../static/client.js"></script>
</body>

</html>